version: '3.8'

services:
  worker:
    build: .
    image: concurrent-worker
    volumes:
      - shared_data:/data
    deploy:
      mode: replicated
      replicas: 0

  monitor:
    image: alpine
    volumes:
      - shared_data:/data
    command: sh -c "while true; do clear; echo 'FILES & CONTENT'; grep -r . /data 2>/dev/null; sleep 0.5; done"

volumes:
  shared_data:
